<form [formGroup]="changePasswordForm" (submit)="changepassword()">
    <div class="form-group">
        <label for="oldpassword"> Old Password</label>
        <input 
            type="password"
            class="form-control"
            formControlName="oldpassword"
            name="oldpassword" 
            id="oldpassword"
            placeholder="Old Password"
            required
            >
          
        <div *ngIf="changePasswordForm.controls['oldpassword'].touched 
                    && changePasswordForm.controls['oldpassword'].errors">
              <div  class="alert alert-danger" 
                  *ngIf="changePasswordForm.controls['oldpassword'].errors.required">
                Please enter Old password.
              </div>
              <div
                class="alert alert-danger"
                *ngIf="changePasswordForm.controls['oldpassword'].errors.confirmPassword">
                Please enter correct password.
              </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword"> New Password</label>
        <input 
            type="password"
            class="form-control"
            formControlName="newpassword"
            name="newpassword" 
            id="newpassword"
            placeholder="New Password">
        <div *ngIf="changePasswordForm.controls['newpassword'].touched &&
                    changePasswordForm.controls['newpassword'].errors
                    ">
                <div class="alert alert-danger" 
                    *ngIf="changePasswordForm.controls['newpassword'].errors.required">
                  Please enter New password
                </div>
                
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <input 
            type="password"
            class="form-control"
            formControlName="confirmpassword"
            name="confirmpassword" 
            id="confirmpassword"
            placeholder="Confirm Password">

            <div *ngIf="changePasswordForm.controls['confirmpassword'].touched &&
                  changePasswordForm.controls['confirmpassword'].errors
                  ">
                  <div 
                    class="alert alert-danger"
                    *ngIf="changePasswordForm.controls['confirmpassword'].errors.required">
                    Please enter Confirm password
                  </div>
          </div>          
          <div 
            *ngIf="changePasswordForm.controls['confirmpassword'].touched 
            && changePasswordForm.errors &&
            changePasswordForm.errors.passwordsShouldMatch"
            class="alert alert-danger">
            Passwords don't match.</div>
    </div>
    <button type="submit" class="btn btn-primary"
    [disabled]="!changePasswordForm.valid"
    >
      Change Password
    </button>
</form>