<form ngForm #subscription="ngForm" (submit)="subscribe(subscription.value)">
  <div class="form-group">
    <label for="fname">Name</label>
    <input type="text" id="fname" class="form-control" required ngModel name="fname" #fname="ngModel">

    <div *ngIf="fname.touched && fname.errors">
      <div class="alert alert-danger" 
          *ngIf="fname.errors.required">
          Name is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" required ngModel name="email" #email="ngModel">

    <div *ngIf="email.touched && email.errors">
      <div class="alert alert-danger" 
          *ngIf="email.errors.required">
          Email is required
      </div>
    </div>
  </div>
  <div class="form-group">
      <label for="frequencyOfEmail"> Frequency of emails </label>
      <select class="form-control" name="frequencyOfEmail" required #frequencyOfEmail="ngModel" ngModel>
        <option value="weekly">Weekly</option>
        <option value="daily">Daily</option>
        <option value="monthly">Monthly</option>
      </select>

      <div *ngIf="frequencyOfEmail.touched && frequencyOfEmail.errors">
      <div class="alert alert-danger" 
          *ngIf="frequencyOfEmail.errors.required">
          Frequency of emails is required
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!subscription.valid">Submit</button>
</form>